{% extends "base.html" %}

{% block style %} <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"> {% endblock%}

{% block body %} 
<body> 
    <section>
        <div class="header">
            <a href="./login.html"><img class="logo" src="{{url_for('static', filename='./images/logo.png')}}"></a>
            <header>Code4<span>Food</span></header>
        </div>
        <div class="container">
            <div class="upPage">

            </div>
            <div class="downPage">
                <div class="downLeft">
                    <p>Type the name u wan to delete</p>
                    <input type="text" id="fname" name="fname">
                </div>
                <div class="downDelete">
                    <p>Tresh</p>
                </div>
                <div class="downAdd">
                    <p>Add</p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
