{% extends "base.html" %}

{% block style %} <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"> {% endblock%}

{% block body %} 
<body> 
    <section>
        <div class="header">
            <a href="./login.html"><img class="logo" src="{{url_for('static', filename='./images/logo.png')}}"></a>
            <header>Code4<span>Food</span></header>
        </div>
        <div class="container">
            <div class="upPage">
                <div class="card">
                    <h1>Da zi tu tata</h1>
                </div>
            </div>
            <div class="downPage">
                <div class="downLeft">
                    <h4 class="trashText">Type the name u wan to delete</h4>
                    <input type="text" id="fname" name="fname">
                </div>
                <div class="downDelete">
                    <a href="./login.html"><img class="trashcan" src="{{url_for('static', filename='./images/Trashcan.png')}}"></a>
                </div>
                <div class="downAdd">
                    <a href="./login.html"><img class="plus" src="{{url_for('static', filename='./images/plusButton.png')}}"></a>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
