{% extends "base.html" %}

{% block style %} <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> {% endblock%}

{% block body %} 

  <body>
    <img class="logo" src="{{url_for('static', filename='./images/logo.png')}}">
    <header>Code4Food</header>
      <div class="container">
        <div class="logDetails">
        <h1 class="logIn">Log In</h1>
        <form class="Form">
        <label for="fname">E-mail </label>
        <input type="email"  name="e-mail" placeholder="example@example.com"/><br/>
        <label for="lname">Password </label>
        <input type="password" name="password" placeholder="**********"/><br/>
        <h2 class="register">Don't have an account?   Register Here</h2>
        <input type="submit" value="Submit"/>
      
        </form>
        </div>
      </div>
  </body>

{% endblock %}